body {
    background-color: #efebe9; /* Light brown background color */
    color: #4e342e; /* Dark brown text color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.login-container {
    width: 300px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    position: relative;
    border-radius: 1 black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #4e342e; 
}

#error-messages {
    color: #ff0303; 
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

#login-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #411900; 
}

#login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #6d4c41; /* Darker brown border color */
    border-radius: 4px;
    background-color: #ffffff; /* Light brown input background color */
    color: #4e342e; /* Dark brown input text color */
}

#login-form button {
    width: 100%;
    padding: 10px;
    background-color: #6d4c41; /* Darker brown button background color */
    color: #fff; /* White button text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#login-form button:hover {
    background-color: #4e342e; /* Dark brown button background color on hover */
}

#login-form p {
    margin-top: 10px;
    color: #8d6e63; /* Brown text color for additional information */
}

#login-form a {
    color: #795548; /* Lighter brown color for links */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

